
body {
  margin: 0;
  background-color: rgb(231, 231, 231);
}

header {
  background-color: black;
  min-width: 100vw;
}

/* start masthead */

.masthead {
  display: grid;
  grid-template-columns: 1fr 6fr 1.2fr;
  grid-template-areas:
  "riot-logo main-links action-buttons";
  height: 80px;
  z-index: 30000;
}

.masthead__riot-logo-container {
  grid-area: riot-logo;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 36px;
  box-sizing: border-box;
  width: 100%;
}

.masthead__riot-icons-container {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.masthead__riot-icons {
  box-sizing: border-box;
  position: relative;
  display: inline-flex;
  align-items: center;
}

.main-links {
  grid-area: main-links;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.main-links > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.main-links li {
  margin: 0 15px;
}

.main-links a {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 2px;
  font-family: Arial, sans-serf;
  font-weight: bold;
}

.main-links a p {
  padding: 7.5px 16px;
  text-align: center;
  margin-right: 4px;
}

.main-links p:hover {
  background: rgba(128,128,128,.3);
  border-radius: 6.4px;
}

.action-buttons {
  grid-area: action-buttons;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 50px;
  gap: 15px;
  width: 90%;
}

.sign-in {
  color: white;
  text-transform: uppercase;
  font-family: Arial, sans-serf;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 8px 12px;
  border-radius: 14px;
  background: rgba(128,128,128,.3);
  min-width: 32px;
}

.sign-in:hover {
  cursor: pointer;
}

.play-now {
  background: #0bC4E2;
  color: black;
  text-transform: uppercase;
  font-family: Arial, sans-serf;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 8px 12px;
  border-radius: 14px;
  min-width: 32px;
}

.play-now:hover {
  cursor: pointer;
  background: rgb(0, 178, 207);
}

/* end masthead */

/* start hero banner */

.hero-banner {
  box-sizing: border-box;
  position: relative;
  min-height: 31.25rem;
  padding: 3.75rem;
}

.hero-banner__background-wrapper{
  background: linear-gradient(125deg, rgb(16, 14, 46) 0%, rgb(68, 68, 105) 50%, rgb(34, 41, 43) 100%);
  min-height: 31.25rem;
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 80%;
}

/* .hero-banner__gradient {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(125deg, rgb(2, 0, 27) 0%, rgb(51, 51, 75) 50%, rgb(43, 53, 56) 100%);
}

.hero-banner__gradient-content {
  object-fit: cover;
  object-position: center top;
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
} */

.hero-banner__foreground-wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  max-width: 105rem;
  height: 55vh;
  min-height: 31.25rem;
  margin: 0px auto;
}

.hero-banner__foreground-wrapper-container {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgb(7, 18, 26);
}

.hero-banner__video-container {
  width: 100%;
  height: 100%;
  display: block;
}

.hero-banner__video {
  object-fit: cover;
  object-position: center center;
  /* position: relative; */
  z-index: 0;
  width: 100%;
  height: 100%;
}

.hero-banner__league-logo {
  z-index: 1000;
  position: relative;
  width: 600px;
}

.hero-banner__play-button {
  display: block;
  position: relative;
}

.hero-banner__play-button::before{
  position: absolute;
  left: 0;
  width: 100%;
  border: 1px solid rgba(236, 232, 225, .5);
  content: "";
  display: block;
  height: 100%;
}


.play-for-free {
  background: #0bC4E2;
  width: 195px;
  height: 56px;
  border: none;
  color: black;
  text-transform: uppercase;
  font-family: Arial, sans-serf;
  font-weight: 800;
  font-size: 11px;
  letter-spacing: 2px;
  padding: 12px 17px 11px 17px;
  margin: 7px;
}

.play-for-free:hover {
  cursor: pointer;
}
